body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    z-index: 5;
    background-color: #0d1531;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.text-center {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

.nav {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 10px;

    
}
.nav li, .nav a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
 
}

.nav a:hover {
    color: skyblue;
    transition: 0.3s;
}

.main_block {

    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #f6f7fb;
}

.hobby-title {
    color: #4a6cff;
    background-color: #dce1ff;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 2px solid #7995f9;
    text-align: center;
    border-radius: 9999px;
    padding: 5px 0;
}



h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.img_code {
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.why_programming {
    padding-bottom: 30px;
}

.why_programming .feature-card{
    background-color: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.blue_line {
    width: 400px;
    height: 4px;
    background-color: #000dfc;
    margin: 20px auto;
}

.icon {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 5rem;


}

.brush {
    color: rgb(62, 62, 239);
    background-color: rgba(0, 0, 255, 0.445);
}

.light {
    color: rgb(196, 60, 237);
    text-shadow: 0 0 10px white;
    background-color: rgba(221, 96, 247, 0.445);
}

.award {
    color: goldenrod;
    background-color: rgba(255, 255, 0, 0.445);
}

.head_descr {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.descr_bot {
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.what_i_learn {
    color: #fff;
    background-color: #0d1531;
    padding-bottom: 50px;
}

.what_i_learn .card_trip {
    color: #fff;
    background-color: #21357b7c;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(237, 232, 232, 0.12);

}


.card_trip img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 2em;
    height: 2em;
}

.mini_game {
    color: azure;
    background-image: url(https://zefirka.club/wallpapers/uploads/posts/2023-03/1679962775_zefirka-club-p-krasivii-fon-dlya-teksta-temnii-30.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mini_game .game_title {
    border: 2px solid #252d47;
    text-align: center;
    border-radius: 9999px;
    background-color: #252d4797;
}

.game_field .form-control {
    width: 30%;
}

.my_way {
    background-color: #f6f7fb;
}

.boxes {
    background-color: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.circle {
    position: relative;
    font-size: 150px;
    z-index: 1;
    background-color: #fff;

}

.bi-1-circle-fill {
    color: rgb(79 79 241);
}

.bi-2-circle-fill {
    color: rgb(234 121 187);
}

.bi-3-circle-fill {
    color: rgb(175 234 96);
}

.way_descr {
    font-size: 1.5em;
}

.circle_row {
    position: relative;
}

.circle_row:before {
    position: absolute;
    content: "";
    top:  133px;
    height: 4px;
    width: 80%;
    background-color: rgb(84 45 145 / 0.53);
    z-index: 0;

}

.citation_block {
    color: #ffffff;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    font-size: 1.5em;
    background-color: #0d1531;
    border-radius: 15px;
    text-shadow: 0 0 1px lightgreen;

}

.quote_icon {
        color: #4f4ff1;
        font-size: 4rem;
    margin-right: 15px;
}

.contact-form {
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    margin-bottom: 50px;
}

.contact-form .form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    background-color: #0d1531;
    color: white;
    text-shadow: 0 0 1px white;
}

.footer_descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 10px 0;

}
