body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.block {
    height: 5em;
    color: white;
    font-size: 1.25em;
    text-shadow: 0 0 5px black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    background-color: red;
}

.second {
    background-color: orange;
}
.third {
    background-color: yellow;
}
.fourth {
    background-color: green;
}
.fifth {
    background-color: blue;
}