
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Smooch+Sans:wght@100..900&family=Yuyu+Short&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;

}

.search_machine {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.search_machine .logo {
    display: inline-block;
    margin: 50px auto;
    font-family:  "Press Start 2P", system-ui;
    letter-spacing: 2px;
    font-size: 50px;
    -webkit-text-stroke: black 0.1rem;

/*-webkit-text-stroke: black 1.5px дает в итоге ошибку но почему?В варианте с rem ничего подобного нет
-webkit- нашел в интернете и как я понял это обращение к инструментам браузера и что мы просим сделать,правильно?;*/
}
.search_machine .logo span:nth-child(1) {
    color: cornflowerblue;
}
.search_machine .logo span:nth-child(2) {
    color: darkorchid ;
}
.search_machine .logo span:nth-child(3) {
    color: coral ;
}
.search_machine .logo span:nth-child(4) {
    color: darkseagreen ;
}
.search_machine .logo span:nth-child(5) {
    color: deeppink ;
}
.search_machine .logo span:nth-child(6) {
    color: cyan ;
}
.search_machine .logo span:nth-child(7) {
    color: greenyellow ;
}
.search_machine .logo span:nth-child(8) {
    color: navy ;
}
.search_machine .logo span:nth-child(9) {
    color: yellow ;
}
.search_machine .logo span:nth-child(10) {
    color: red ;
}

.search_machine .search_win #search {
    width: 40%;
    height: 20px;
}
